mixin base
	doctype
	html
		block

mixin body
	block

mixin head(title)
	head
		title= title
		link(rel='shortcut icon' href='data:image/x-icon;,' type='image/x-icon')

		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=0")
		style.
			body {
				display: flex;
				margin: 0;
				flex-direction: column;
				min-height:calc(100vh - 64px);
				width:calc(100vw - 64px);
				align-items:center;
				justify-content: center;
				text-align: center;
				padding: 32px;
			}
			code {
				background-color: #ccc;
				border-radius: 4px;
				padding: 0 4px;
			}
			ul {
				text-align: left;
			}
		block
