include ../layout.pug
+base
	+head("Not authenticated")
	+body
		h1 Hm, I haven't seen you before, have I?
		p You should probably go ahead and authenticate before using this site. Yeah, that'd be best...
