include ../layout.pug
+base
	+head("Just who I wanted to see")
	+body
		h1 Hi #{value}
		p Finally you made it. We were all rootin' for you all the way through, honest.

		p Now if you'll excuse me, I have some completely unrelated bets I have to pay out.

		h3: a(href="/get/some") Go claim your price
