include ../layout.pug
+base
	+head("Right person")
	+body
		h1 Finally, you're here
		p Some guy just came looking, but you're obviously not him. Not very creative though, are you?

		h3: a(href="/get/some") Go claim your price
