h1 The Answer!

p Now, what you've been crawing for so long! The answer to... well, I'm a bit unsure about that actually. The quality of the answer may or may not be affected by this uncertainty.

hr

div Anyways, it's
div: a(href="/what/do/you/want?", style="font-size:96px;color:purple;text-decoration:none;cursor:default") PURPLE
