h1 All this way for nothing
p Look, buddy, I know it's tough, but I think it's about time you realise that there's not going to be a price. At this point, I don't really see any reason to continue.

p I mean, there's not really anything here, you can't really do anything.

p Just close the window, really.
