case part
	when 'happy_smiley'
		img(src="/assets/smileys/happy.svg" style="width:400px")
	when 'sad_smiley'
		img(src="/assets/smileys/sad.svg" style="width:400px")
	when 'shocked_smiley'
		img(src="/assets/smileys/shocked.svg" style="width:400px")
	default
		img(src="/assets/smileys/disappointed.svg" style="width:400px")
