h1 The Solution(s)

p Depending on what solution you need, here are some links:

div: a(href="https://www.chemdirect.com/p/ChemD-731-C83011NE-1C1-1x1-Liter-Sulfuric-Phosphoric-Acid/sulfuric-acidphosphoric-acid-11-5050-147612")
	| Sulfuric acid
div: a(href="https://www.chemdirect.com/p/ChemD-976-S5649-25mg-1x25-Milligram-10246-75-0/hydroxyzine-pamoate-25mg-250709")
	| Hydroxyzine
div: a(href="https://www.chemdirect.com/p/ChemD-731-CB205000-500A-1x500-Milliliter-Buffer-pH-10.5/buffer-ph-105-ph-1045-1055-147237")
	| pH buffer
div: a(href="/what/do/you/want?", title="Wait, this is not a real chemical, is it?")
	| Solvenic Proballo
div: a(href="https://www.chemdirect.com/p/ChemD-3222-15202460-5g-1x5-Gram-70560-51-9/kanamycin-sulfate-435887")
	| Kanamycin sulfate

p Didn't find what you were looking for? Maybe you should ask an actual chemical supplier instead of a random website!
