include ../layout.pug
+base
	+head("Device too small")
	+body
		h1 It looks like you're using a device with a really small screen
		p I mean, honestly, don't you have something better?

		p When you find something better, go on and open me on it. I like a big screen, something extra wide would be nice... but I guess I #[em could] work with a regular desktop screen...

		P Are you still here? Shouldn't you be scrambling to find a proper screen or something? Geez...
